{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    <h1 class="text-center">{{ .Title }}</h1>
    {{ with .Params.description }}<p class="lead text-center">{{ . }}</p>{{ end }}
    {{ with .Content }}<div class="text-center">{{ . }}</div>{{ end }}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-9">
    {{ $paginator := .Paginate (.Data.Pages) }}
    <div class="row row-cols-1 g-4">
      {{ range $paginator.Pages }}
      <div class="col">
        {{ partial "post-card.html" (dict "page" .) }}
      </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
